html {
    /* background-color: brown; */
    display: flex;
    justify-content: center;
}

body {
    max-width: 1366px;
    margin: 0;
    padding: 10px;
    /* background-color: yellow; */
    border: 1px solid pink;
}

header {
    /* background-color: lightblue; */
}

section {}

header {
    display: flex;
}

header div, header nav {
    flex: 1;
    border: 1px solid red;
    padding: 10px;
}

.left-header {
    display: flex;
}

.header-image {
    display: flex;
    align-items: center;
}

.header-brand {
    font-size: 40px;
}

.header-nav {
    display: flex;
    gap: 20px;
}

section {
    display: flex;
}

section div, section nav {
    border: 1px solid green;
    padding: 10px;
}

.right-section {
    width: 85%;
}

.right-section-bottom {
    display: flex;
}

.right-section div {
    flex: 1;
}

.right-section-bottom-left div, .right-section-bottom-right div {
    margin-bottom: 10px;
}

.right-section-bottom-left div:last-child, .right-section-bottom-right div:last-child {
    margin-bottom: 0px;
}

.left-section {
    width: 15%;
}

.section-nav {
    display: grid;
    gap: 10px;
}

.section-nav a {
    margin-right: auto;
    /* mantap */
}

.right-section {
    word-break: break-all;
}

footer div {
    border: 1px solid orange;
    padding: 100px;
    text-align: center;
}

body, body div, body nav {
    border: 1px solid black;
    background-color: lightyellow;
}