body {
    padding: 0;
    margin: 0;
}

div {
    /* border: 1px solid red; */
    /* padding: 5px; */
}

header {
    padding: 0 50px;
    display: flex;
    border-bottom: 1px solid rgb(221, 221, 221);
}

header a {
    display: flex;
    padding: 10px 30px;
}

header a:hover {
    background-color: aqua;
}

.header-left, .header-right {
    display: flex;
    flex: 1;
}

.header-left {
    justify-content: left;
}

.header-right {
    justify-content: right;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(221, 221, 221);
}

nav a {
    display: flex;
    padding: 10px 30px;
}

nav a:hover {
    background-color: aqua;
}

section, aside {
    display: flex;
    flex: 1;
    justify-content: center;
    word-break: break-all;
}

.sect {
    /* padding: 30px 0; */
    background-color: lightyellow;
    gap: 20px;
    padding: 20px 50px;
}

.sect a {
    background-color: aqua;
    display: inline-block;
    padding: 10px;
}

.home-aside-left, .home-section, .home-aside-right {
    /* width: 85%; */
    text-align: center;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px 15px;
}

.home-aside-left p, .home-section p, .home-aside-right p {
    text-align: left;
}

footer {
    background-color: aqua;
    text-align: center;
}